<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381713326569-25k2lmcralnjgiihqe6n890vf1o7kbfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381713326569-25k2lmcralnjgiihqe6n890vf1o7kbfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDP_IAQvycBxpTGWrtr6ibPXDf9M5uu4S0</string>
	<key>GCM_SENDER_ID</key>
	<string>381713326569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shaudanB2b.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>store-fd382</string>
	<key>STORAGE_BUCKET</key>
	<string>store-fd382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381713326569:ios:6e79e8952c911b58f2eb78</string>
</dict>
</plist>